.App {
  text-align: center;
}

.container {
  width: 1200px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 auto;
  align-items: center;
  /* border: 1px solid gray; */
}

.content {
  padding-top: 50px;
  padding-bottom: 50px;
}

.side-flex {
  display: flex;
  justify-content: space-between;
}

/* header */
.header-nav {
  border-bottom: 1px solid black;
  width: 100%;
}
.home {
  font-weight: bold;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
}
.nav-item {
  padding: 0 20px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}
.nav-item:hover {
  color: #fdac53;
  cursor: pointer;
}

/* About Me */
.about-background {
  width: 100%;
  background-image: linear-gradient(
      rgba(112, 93, 80, 0.4),
      rgba(160, 93, 49, 0.4)
    ),
    url("./asset/background.jpg");
  background-size: auto;
}
.name {
  color: white;
  font-size: 48px;
  font-family: "Jua", sans-serif;
}
.introduce {
  margin-top: 25px;
  margin-bottom: 25px;
  color: white;
  font-weight: bold;
  font-size: 20px;
}
.about-line {
  width: 50px;
  border: 3px solid rgb(255, 205, 113);
  border-radius: 10px;
}
.reference {
  margin-top: 15px;
  font-size: 20px;
  color: rgb(199, 199, 199);
}
.reference > article {
  margin-top: 10px;
}
.reference > article > header {
  display: inline;
  font-weight: bold;
}
.reference > article > span {
  font-family: "Nanum Gothic", sans-serif;
}
.reference > article > span:hover {
  color: #fdac53;
  cursor: pointer;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
